#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 ;
}

.loginContainer {
    width: 450px;
    padding: 40px;
    margin: 60px auto;   /* center on page */

    background: white;
    border-radius: 16px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}
.overlay-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.overlay-card{
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}